extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Террасная доска из ДПК Deckart Universal Серый'
    - var pageClass = 'category'
    - var menuHref = '/'

block detail
    section.detail
        .outer 
            .inner 
                .detail__container 
                    .detail__slider
                        div(style="position: relative;").detail__slider-js
                            .card__label
                                p._yellow Новинка
                            .detail__wrapper.swiper-wrapper 
                                .detail__slide.swiper-slide 
                                    img(src="./images/detail/img1.jpg" alt="Картинка")
                                .detail__slide.swiper-slide 
                                    img(src="./images/detail/img2.jpg" alt="Картинка")
                                .detail__slide.swiper-slide 
                                    img(src="./images/detail/img3.jpg" alt="Картинка")
                                .detail__slide.swiper-slide 
                                    img(src="./images/detail/img4.jpg" alt="Картинка")
                                .detail__slide.swiper-slide 
                                    img(src="./images/detail/img5.jpg" alt="Картинка")
                            .navigation__button.navigation__button-prev.detail__button-prev-js
                                <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                                </svg>
                            .navigation__button.navigation__button-next.detail__button-next-js
                                <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                                </svg>

                        .detail__thumbnail.detail__thumbnail-js
                            .swiper-wrapper 
                                .swiper-slide 
                                    img(src='./images/detail/img1.jpg')
                                .swiper-slide 
                                    img(src='./images/detail/img2.jpg')
                                .swiper-slide 
                                    img(src='./images/detail/img3.jpg')
                                .swiper-slide 
                                    img(src='./images/detail/img4.jpg')
                                .swiper-slide 
                                    img(src='./images/detail/img5.jpg')
                    .detail__info
                        nav.breadcrumbs
                            ul.breadcrumbs__list
                                li
                                    a(href="/") Главная
                                    span.breadcrumbs__divider \
                                li.is-active #{title}
                        h1.title Террасная доска из ДПК Deckart Universal Серый
                        p Есть в наличии
                        ul 
                            li
                                +icon('houses')
                                | Для дома и дачи
                            li
                                +icon('swimming-pool')
                                | Для бассейнов и пирсов
                        .detail__color 
                            p Цвет доски: 
                                span.color-text-js Серый
                            ul.color-tabs-js 
                                li(data-color="Цвет 1") 
                                    img(src='./images/color/1.png' alt="Цвет 1")
                                li(data-color="Цвет 2")  
                                    img(src='./images/color/2.png' alt="Цвет 2")
                                li(data-color="Цвет 3")  
                                    img(src='./images/color/3.png' alt="Цвет 3")
                                li(data-color="Серый")
                                    img(src='./images/color/4.png' alt="Серый")
                                li(data-color="Цвет 4") 
                                    img(src='./images/color/5.png' alt="Цвет 4")
                                li(data-color="Цвет 5")  
                                    img(src='./images/color/6.png' alt="Цвет 5")
                        .card__size.detail__size
                            p Длина доски: 
                            ul
                                li 3м
                                li._disabled 4м
                                li 5м
                                li._active 6м
                                li 8м
                            .detail__size-info
                                p Размер: 
                                    span 150х25 мм
                                p Вес: 
                                    span 116кг\м
                                        sup 2
                                p Производитель:
                                    span Deckart (Россия)
                        .detail__price 
                            .card__for 
                                p Цена за:
                                ul 
                                    li._active М
                                        sup 2
                                    li шт
                                    li п\м
                            .card__price
                                .card__price-new
                                    | 1 990
                                    div ₽
                                    div м
                                        sup 2
                                .card__price-old
                                    | 2 590
                                    div ₽
                                    div м
                                        sup 2
                            p Цена за пог. метр 1 590
                                span ₽
                        .detail__buttons 
                            .card__calc.calc-js
                                button.card__remove-js -
                                p.card__calc-num-js 1
                                button.card__add-js +           
                            .card__buttons 
                                +btn('Купить в 1 клик', 'buy')
                                button
                                    +icon('basket')
                                    div Добавить в корзину
                                    p Добавлено 
block advantages
    .advantages._radius 
        .outer 
            .inner 
                ul
                    li 
                        +icon('warehouse')
                        | В наличии на складе более 150 вариантов террасной доски из ДПК
                    li 
                        +icon('quality')
                        | Официальная гарантия на материалы - 3 года  и монтаж - 1 год
                    li
                        +icon('measuring-tape')
                        | Бесплатный выезд на замер и индивидуальный расчет проекта
                    li
                        +icon('express-delivery')
                        | Быстрая доставка в любой регион РФ
block form
    section.form.form_mini
        .outer 
            .inner
                .form__container
                    .form__content
                        .form__title Оставьте заявку - мы детально изучим особенности Вашего проекта
                            span и подберем оптимальное решение исходя из задач и бюджета 
                        .form__desc Наш менеджер свяжется с вами в течение 15 минут.
                    form(action="")
                        +input('Имя','text','name')
                        p Пожалуйста представьтесь, как можно к вам обращаться
                        +input('Номер телефона','text','phone').phone-mask1--js
                        +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', true)
                        button(type="submit") Перезвонить мне
//- block filter 
    .filter 
        .filter__title.filter__title-js Подбор по параметрам
        form(action="")
            .filter__price
                p Ценовой диапазон
                .filter__price-top
                    .filter__placeholder-container
                        input(type='number' name="min" placeholder=" " required="required" id='min' class="")
                        label(for='min') ₽
                    .filter__placeholder-container
                        input(type='number' name="max" placeholder=" " required="required" id='max' class="")
                        label(for='max') ₽
                .filter__price-bottom
                    input(type="text" class="js-range-slider" name="my_range" value=""
                        data-type="double"
                        data-min="4000"
                        data-max="8500"
                        data-from="4000"
                        data-to="8500")
            .filter__color 
                p Цвет
                +checkbox('Коричневый/венге', 'color1')
                +checkbox('Светлосерый', 'color2')
                +checkbox('Желтый нарцисс', 'color3')
                +checkbox('Слоновая кость', 'color4')
            .filter__size 
                p Размер
                +select('140х20 мм', 'size')
            .filter__length
                p Длина
                +select('3 метра', 'length')
            .filter__made
                p Производитель
                +select('Deckart (Россия)', 'length')
            .filter__other 
                +checkbox('Распродажа', 'sale')
                +checkbox('Новинки', 'Новинки')         
block menu
    menu.menu.aside-menu-js
        li 
            .catalog-link-js.dropdown._right 
                .menu__icon._pink
                    img(src='./images/terrasnaya.png')
                | Террасная доска из ДПК
            .catalog__content
                ul 
                    li
                        a(href="#") Террасная доска для террасы
                    li
                        a(href="#") Террасная доска для бассейнов
                    li
                        a(href="#") Террасная доска для беседки
                    li
                        a(href="#") Террасная доска для пирса, причала и мостиков
                    li
                        a(href="#") Террасная доска для кафе и ресторанов
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._grey
                    img(src='./images/zabor.png')                            
                | Заборы
            .catalog__content
                ul 
                    li
                        a(href="#") Забор 1
                    li
                        a(href="#") Забор 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._beg
                    img(src='./images/ogragdenie.png')                                  
                | Ограждения из ДПК
            .catalog__content
                ul 
                    li
                        a(href="#") Ограждения из ДПК 1
                    li
                        a(href="#") Ограждения из ДПК 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._beg1
                    img(src='./images/stupeni.png')
                | Ступени из ДПК
            .catalog__content
                ul 
                    li
                        a(href="#") Ступени из ДПК 1
                    li
                        a(href="#") Ступени из ДПК 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._pink1
                    img(src='./images/fasad.png')
                | Фасадные панели из ДПК
            .catalog__content
                ul 
                    li
                        a(href="#") Фасадные панели из ДПК 1
                    li
                        a(href="#") Фасадные панели из ДПК 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._grey1
                    img(src='./images/lavochniy.png')
                | Лавочный брус
            .catalog__content
                ul 
                    li
                        a(href="#") Лавочный брус 1
                    li
                        a(href="#") Лавочный брус 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._grey2
                    img(src='./images/kompl.png')
                | Комплектующие
            .catalog__content
                ul 
                    li
                        a(href="#") Комплектующие 1
                    li
                        a(href="#") Комплектующие 2
        li 
            a(href="#") 
                .menu__icon._yellow %
                | Распродажа %
block asideform
    section.form.form_aside
        .form__container
            .form__content
                .form__title Получите предварительный расчет вашей террасы уже через 15 минут
            form(action="")
                +input('Имя','text','name')
                p Пожалуйста представьтесь, как можно к вам обращаться
                +input('Номер телефона','text','phone').phone-mask2--js
                +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true2')
                button(type="submit") Перезвонить мне
block asideuseful
    .useful.useful_aside
        .useful__container 
            .title__container
                h2.title Полезные статьи и новости
            .useful__slider
                ul
                    li
                        img(src="./images/useful1.jpg" alt="Как выбрать террасную доску?")
                        .useful__content 
                            .useful__date Опубликовано 5 минут назад
                            .useful__title Как выбрать террасную доску?
                            .useful__except Приятно летом пройтись босиком по теплому деревянному полу террасы, веранды или беседки. А каким будет этот пол? Давайте разбираться!
                            +btn('подробнее','', true).useful__link
                    li
                        img(src="./images/useful2.png" alt="Укладка террасной доски, уeстойчивость к колебаниям влажности и температур")
                        .useful__content 
                            .useful__date Опубликовано 2 января 2022
                            .useful__title Укладка террасной доски, уeстойчивость к колебаниям влажности и температур
                            .useful__except Террасная доска (дёкинг) из древесно-полимерного композита — красивое и долговечное напольное покрытие для террас, беседок  ...
                            +btn('подробнее','', true).useful__link
block detailTabs
    .detailtabs.detailtabs-js
        ul
            li(data-tab="1")._active-tab Описание
            li(data-tab="2") Документация
            li(data-tab="3") Галерея
            li(data-tab="4") Оплата и доставка
        .detailtabs__content(data-content="1")._active
            h2 Террасная доска из ДПК Praktik New Серый - характеристики
            p Praktik New Серый– шовная террасная доска из композита в цвете: венге, орех, графит, тик, серый. Декинг окрашен в массе, возможно изменение цвета в течении 2-8 месяцев на четверть тона, что практически незаметно для глаз.
            p Производство продукции осуществляется строго в соответствии с ТУ, которые разработаны по ГОСТ, что подтверждено Сертификатом Соответствия.
            p 
                strong Примечание
            .detailtabs__row
                .detailtabs__col
                    p  Пустотелая террасная доска Deckson Universal Серый имеет прочный и самый массивный профиль – 150×25 мм, часто используется на следующих типах объектов:
                    p 
                        span Брашированная композитная доска производится в стандартной длине 3 метра, 4 метра, 6 метров. Возможно индивидуальное 
                .detailtabs__col
                    ul 
                        li Открытая веранда (терраса) или балкон
                        li Входная группа
                        li Дорожки на участке
                        li Эксплуатируемая кровля
                        li Зоны с повышенной нагрузкой
            ul.product__items
                li 
                    +icon('sert')
                    | Продукция сертифицирована
                li 
                    +icon('sun')
                    | Не выцветает на солнце
                li 
                    +icon('bugs')
                    | Не подвержена влиянию насекомых
                li 
                    +icon('person')
                    | Не скользит и не оставляет заноз
                li 
                    +icon('notneed')
                    | Не нуждается в пропитке
        .detailtabs__content(data-content="2")
            h2 Документация
            ul.details__document 
                li 
                    +icon('icon-pdf')
                    a(href="#" target="_blank" download)
                        p Монтаж террасной доски
                            span файл pdf 320кб
                        div
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0206 0.5C7.09795 0.5 7.17214 0.530727 7.22683 0.585423C7.28153 0.640118 7.31226 0.714301 7.31226 0.791651L7.31226 4.29147C7.31226 4.36882 7.28153 4.443 7.22683 4.4977C7.17214 4.55239 7.09795 4.58312 7.0206 4.58312C6.94325 4.58312 6.86907 4.55239 6.81438 4.4977C6.75968 4.443 6.72895 4.36882 6.72895 4.29147L6.72895 1.4957L0.810765 7.41447C0.783648 7.44159 0.751456 7.4631 0.716027 7.47777C0.680597 7.49245 0.642624 7.5 0.604276 7.5C0.565927 7.5 0.527954 7.49245 0.492524 7.47777C0.457095 7.4631 0.424903 7.44159 0.397786 7.41447C0.37067 7.38735 0.34916 7.35516 0.334485 7.31973C0.319809 7.2843 0.312256 7.24633 0.312256 7.20798C0.312256 7.16963 0.319809 7.13166 0.334485 7.09623C0.34916 7.0608 0.37067 7.02861 0.397786 7.00149L6.31656 1.0833L3.52079 1.0833C3.44344 1.0833 3.36926 1.05258 3.31456 0.99788C3.25986 0.943185 3.22914 0.869002 3.22914 0.791652C3.22914 0.714301 3.25986 0.640118 3.31456 0.585423C3.36926 0.530727 3.44344 0.5 3.52079 0.5L7.0206 0.5Z"/>
                            </svg>
                li 
                    +icon('icon-pdf')
                    a(href="#" target="_blank" download)
                        p Монтаж заборной доски
                            span файл pdf 770кб
                        div
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0206 0.5C7.09795 0.5 7.17214 0.530727 7.22683 0.585423C7.28153 0.640118 7.31226 0.714301 7.31226 0.791651L7.31226 4.29147C7.31226 4.36882 7.28153 4.443 7.22683 4.4977C7.17214 4.55239 7.09795 4.58312 7.0206 4.58312C6.94325 4.58312 6.86907 4.55239 6.81438 4.4977C6.75968 4.443 6.72895 4.36882 6.72895 4.29147L6.72895 1.4957L0.810765 7.41447C0.783648 7.44159 0.751456 7.4631 0.716027 7.47777C0.680597 7.49245 0.642624 7.5 0.604276 7.5C0.565927 7.5 0.527954 7.49245 0.492524 7.47777C0.457095 7.4631 0.424903 7.44159 0.397786 7.41447C0.37067 7.38735 0.34916 7.35516 0.334485 7.31973C0.319809 7.2843 0.312256 7.24633 0.312256 7.20798C0.312256 7.16963 0.319809 7.13166 0.334485 7.09623C0.34916 7.0608 0.37067 7.02861 0.397786 7.00149L6.31656 1.0833L3.52079 1.0833C3.44344 1.0833 3.36926 1.05258 3.31456 0.99788C3.25986 0.943185 3.22914 0.869002 3.22914 0.791652C3.22914 0.714301 3.25986 0.640118 3.31456 0.585423C3.36926 0.530727 3.44344 0.5 3.52079 0.5L7.0206 0.5Z"/>
                            </svg>
                li 
                    +icon('icon-pdf')
                    a(href="#" target="_blank" download)
                        p Монтаж ступеней и лестниц
                            span файл pdf 320кб
                        div
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0206 0.5C7.09795 0.5 7.17214 0.530727 7.22683 0.585423C7.28153 0.640118 7.31226 0.714301 7.31226 0.791651L7.31226 4.29147C7.31226 4.36882 7.28153 4.443 7.22683 4.4977C7.17214 4.55239 7.09795 4.58312 7.0206 4.58312C6.94325 4.58312 6.86907 4.55239 6.81438 4.4977C6.75968 4.443 6.72895 4.36882 6.72895 4.29147L6.72895 1.4957L0.810765 7.41447C0.783648 7.44159 0.751456 7.4631 0.716027 7.47777C0.680597 7.49245 0.642624 7.5 0.604276 7.5C0.565927 7.5 0.527954 7.49245 0.492524 7.47777C0.457095 7.4631 0.424903 7.44159 0.397786 7.41447C0.37067 7.38735 0.34916 7.35516 0.334485 7.31973C0.319809 7.2843 0.312256 7.24633 0.312256 7.20798C0.312256 7.16963 0.319809 7.13166 0.334485 7.09623C0.34916 7.0608 0.37067 7.02861 0.397786 7.00149L6.31656 1.0833L3.52079 1.0833C3.44344 1.0833 3.36926 1.05258 3.31456 0.99788C3.25986 0.943185 3.22914 0.869002 3.22914 0.791652C3.22914 0.714301 3.25986 0.640118 3.31456 0.585423C3.36926 0.530727 3.44344 0.5 3.52079 0.5L7.0206 0.5Z"/>
                            </svg>
        .detailtabs__content(data-content="3")
            h2 Галерея
            .detailtabs__gallery
                img(src='./images/detail/photo1.jpg' alt="Фото")
                img(src='./images/detail/photo2.jpg' alt="Фото")
                img(src='./images/detail/photo3.jpg' alt="Фото")
                img(src='./images/detail/photo4.jpg' alt="Фото")
                img(src='./images/detail/photo5.jpg' alt="Фото")
                img(src='./images/detail/photo6.jpg' alt="Фото")
                img(src='./images/detail/photo7.jpg' alt="Фото")
                img(src='./images/detail/photo8.jpg' alt="Фото")
        .detailtabs__content(data-content="4")
            h2 Оплата и доставка
            .detailtabs__info 
                .detailtabs__delivery
                    +icon('delivery')
                    ul 
                        li Доставка:
                        li 1-2 дня 
                            span Москва
                        li 5-7 дней 
                            span Санкт-Петербург
                        li 5-7 дней 
                            span Регионы

                .detailtabs__payment
                    +icon('payment')
                    ul
                        li Оплата
                        li Наличными, банковской картой, банковский перевод и электронные деньги
                        li  
                            ul
                                li 
                                    +icon('visa-logo')
                                li
                                    +icon('mastercard')
                                li
                                    +icon('sber')
                                li
                                    +icon('iomoney')
                                li
                                    +icon('alfabank')
block accessories
    section.accessories
        .title__container
            h2.title Комплектующие
        .accessories__container.accessories-js 
            .swiper-wrapper  
                a.swiper-slide.accessories__card
                    .accessories__card-gallery
                        img(src='./images/accessories/1.jpg' alt="Кляймер нержавейка")
                        .card__label
                    .accessories__title Кляймер нержавейка HILST 3D (металл)
                    .accessories__availability есть в наличии
                    .accessories__bottom
                        .accessories__price 
                            .accessories__price-text 
                                | 89
                                div ₽
                                div шт
                            .accessories__price-desc
                        +basketBtn('basket')
                a.swiper-slide.accessories__card
                    .accessories__card-gallery
                        img(src='./images/accessories/2.jpg' alt="Кляймер пластиковый промежуточный")
                        .card__label
                            p._purple хит продаж
                    .accessories__title Кляймер пластиковый промежуточный
                    .accessories__availability есть в наличии
                    .accessories__bottom
                        .accessories__price 
                            .accessories__price-text 
                                | 990
                                div ₽
                                div шт
                            .accessories__price-desc в упаковке 100шт
                        +basketBtn('basket')._active
                a.swiper-slide.accessories__card
                    .accessories__card-gallery
                        img(src='./images/accessories/3.jpg' alt="Верхняя пластина для фиксации")
                        .card__label
                    .accessories__title Верхняя пластина для фиксации 
                    .accessories__availability есть в наличии
                    .accessories__bottom
                        .accessories__price 
                            .accessories__price-text 
                                | 109
                                div ₽
                                div шт
                            .accessories__price-desc
                        +basketBtn('basket')
                a.swiper-slide.accessories__card
                    .accessories__card-gallery
                        img(src='./images/accessories/4.jpg' alt="Кляймер пластиковый промежуточный")
                        .card__label
                            p._purple хит продаж
                    .accessories__title Горизонтальный фиксатор вершин опор 
                    .accessories__availability есть в наличии
                    .accessories__bottom
                        .accessories__price 
                            .accessories__price-text 
                                | 30
                                div ₽
                                div шт
                            .accessories__price-desc
                        +basketBtn('basket')
            .navigation 
                .navigation-container
                    .swiper-pagination
                    .navigation__button.navigation__button-prev.accessories__button-prev-js
                        <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                        </svg>
                    .navigation__button.navigation__button-next.accessories__button-next-js
                        <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                        </svg>
block also 
    section.also
        .also__container 
            .title__container
                h2.title С этим товаром покупают
            .also-slider.also-slider-js
                ul.swiper-wrapper.calc-js
                    li.swiper-slide.card.card__mini 
                        .card__gallery.card__gallery-js
                            img(src='./images/1.png' data-src='./images/1.png' alt="Террасная доска").card__img-js
                            .card__preview.card__preview-js
                                img(src='./images/1-1.png' data-src="./images/1-1.png" alt="Террасная доска")
                                img(src='./images/1-2.png' data-src="./images/1-2.png" alt="Террасная доска")
                                img(src='./images/1-3.png' data-src="./images/1-3.png" alt="Террасная доска")
                                img(src='./images/1-4.png' data-src="./images/1-4.png" alt="Террасная доска")
                                img(src='./images/1-5.png' data-src="./images/1-5.png" alt="Террасная доска")
                            .card__label
                                p._yellow Новинка
                        .card__content 
                            h3 Террасная доска из ДПК Praktik New Орех
                            p Есть в наличии
                            ul
                                li
                                    +icon('houses')
                                    | Для дома и дачи
                                li
                                    +icon('swimming-pool')
                                    | Для бассейнов и пирсов
                            .card__size 
                                p Длина:
                                ul
                                    li 3м
                                    li._disabled 4м
                                    li 5м
                                    li 6м
                                p Размер: 150х25 мм
                            .card__order
                                .card__price
                                    .card__price-new
                                        | 1 990
                                        div ₽
                                        div м
                                            sup 2
                                    .card__price-old
                                        | 2 590
                                        div ₽
                                        div м
                                            sup 2
                                .card__calc
                                    button.card__remove-js -
                                    p.card__calc-num-js 1
                                    button.card__add-js +
                        .card__buttons 
                            +btn('Купить в 1 клик', 'buy')
                            button
                                +icon('basket')
                                p Добавлено
                    li.swiper-slide.card.card__mini  
                        .card__gallery.card__gallery-js
                            img(src='./images/2.png' data-src='./images/2.png' alt="Террасная доска").card__img-js
                            .card__preview.card__preview-js
                                img(src='./images/2-1.png' data-src="./images/2-1.png" alt="Террасная доска")
                                img(src='./images/2-2.png' data-src="./images/2-2.png" alt="Террасная доска")
                                img(src='./images/2-3.png' data-src="./images/2-3.png" alt="Террасная доска")
                                img(src='./images/2-4.png' data-src="./images/2-4.png" alt="Террасная доска")
                                img(src='./images/2-5.png' data-src="./images/2-5.png" alt="Террасная доска")
                            .card__label
                                p._purple Выгодно!
                        .card__content 
                            h3 Ступень из ДПК WoodVex Select Кофе

                            p Есть в наличии
                            ul 
                                li
                                    +icon('houses')
                                    | Для дома и дачи
                            .card__size 
                                p Длина:
                                ul
                                    li 3м
                                    li._disabled 4м
                                    li 5м
                                    li 6м
                                p Размер: 150х25 мм
                            .card__order
                                .card__price
                                    .card__price-new
                                        | 4 870
                                        div ₽
                                        div м
                                            sup 2
                                    .card__price-old
                                        | 9 590
                                        div ₽
                                        div м
                                            sup 2
                                .card__calc
                                    button.card__remove-js -
                                    p.card__calc-num-js 1
                                    button.card__add-js +
                        .card__buttons 
                            +btn('Купить в 1 клик', 'buy')
                            button
                                +icon('basket')
                                p Добавлено
                    li.swiper-slide.card.card__mini  
                        .card__gallery.card__gallery-js
                            img(src='./images/3.png' data-src='./images/3.png' alt="Террасная доска").card__img-js
                            .card__preview.card__preview-js
                                img(src='./images/3-1.png' data-src="./images/3-1.png" alt="Террасная доска")
                                img(src='./images/3-2.png' data-src="./images/3-2.png" alt="Террасная доска")
                                img(src='./images/3-3.png' data-src="./images/3-3.png" alt="Террасная доска")
                                img(src='./images/3-4.png' data-src="./images/3-4.png" alt="Террасная доска")
                                img(src='./images/3-5.png' data-src="./images/3-5.png" alt="Террасная доска")
                            .card__label
                        .card__content 
                            h3 Ступень из ДПК WoodVex Select Кофе
                            p Есть в наличии
                            ul 
                                li
                                    +icon('houses')
                                    | Для дома и дачи
                            .card__size 
                                p Длина:
                                ul
                                    li 3м
                                    li._disabled 4м
                                    li 5м
                                    li 6м
                                p Размер: 150х25 мм
                            .card__order
                                .card__price
                                    .card__price-new
                                        | 4 870
                                        div ₽
                                        div м
                                            sup 2
                                    .card__price-old
                                        | 9 590
                                        div ₽
                                        div м
                                            sup 2
                                .card__calc
                                    button.card__remove-js -
                                    p.card__calc-num-js 1
                                    button.card__add-js +
                        .card__buttons 
                            +btn('Купить в 1 клик', 'buy')
                            button
                                +icon('basket')
                                p Добавлено
                        .navigation 
                .navigation 
                    .navigation-container
                        .swiper-pagination
                        .navigation__button.navigation__button-prev.also__button-prev-js
                            <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                            </svg>
                        .navigation__button.navigation__button-next.also__button-next-js
                            <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                            </svg>
block asideformSubscribe
    section.form.form_aside.form_aside_subscribe
        .form__container
            .form__content
                .form__title Подпишитесь на нашу рассылку и будьте в курсе актуальных акций и распродаж
            form(action="")
                +input('Email','email','email')
                p Никакого спама не будет, только полезные новости
                button(type="submit") Подписаться